In [ ]:
#mengimport libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans

In [ ]:

df = pd.read_excel("/content/Dataset_Penjualan_Toko_Online_Indonesia_5000.xlsx")

##cleaning data

In [ ]:
df.head()

,Order_ID,Tanggal_Pemesanan,Nama_Produk,Kategori,Jumlah,Harga_Satuan,Kota,Provinsi,Tipe_Pembayaran,Customer_ID,Total_Penjualan
0,ORD00001,2024-03-15,Sandal Jepit,Fashion,5,25000,Medan,Sumatera Utara,Transfer Bank,CUST1096,125000
1,ORD00002,2024-03-12,Power Bank,Elektronik,3,120000,Bandung,Jawa Barat,Gopay,CUST1051,360000
2,ORD00003,2024-05-31,Minyak Goreng 1L,Makanan & Minuman,2,18000,Palembang,Sumatera Selatan,ShopeePay,CUST1186,36000
3,ORD00004,2024-04-28,Sneakers,Fashion,4,300000,Semarang,Jawa Tengah,ShopeePay,CUST1104,1200000
4,ORD00005,2024-06-21,Sandal Jepit,Fashion,2,25000,Semarang,Jawa Tengah,COD,CUST1064,50000

In [ ]:
df.describe()

                Tanggal_Pemesanan       Jumlah   Harga_Satuan  Total_Penjualan
count                        5000  5000.000000    5000.000000     5.000000e+03
mean   2024-03-31 21:48:40.320000     2.960200   93875.200000     2.773248e+05
min           2024-01-01 00:00:00     1.000000    5000.000000     5.000000e+03
25%           2024-02-15 00:00:00     2.000000   18000.000000     5.400000e+04
50%           2024-04-01 00:00:00     3.000000   75000.000000     1.500000e+05
75%           2024-05-18 00:00:00     4.000000  120000.000000     3.600000e+05
max           2024-06-29 00:00:00     5.000000  300000.000000     1.500000e+06
std                           NaN     1.408621   95500.756562     3.392114e+05

In [ ]:
#cek missing value
df.isna().sum()

Order_ID             0
Tanggal_Pemesanan    0
Nama_Produk          0
Kategori             0
Jumlah               0
Harga_Satuan         0
Kota                 0
Provinsi             0
Tipe_Pembayaran      0
Customer_ID          0
Total_Penjualan      0
dtype: int64

In [ ]:
df.isnull().sum()

Order_ID             0
Tanggal_Pemesanan    0
Nama_Produk          0
Kategori             0
Jumlah               0
Harga_Satuan         0
Kota                 0
Provinsi             0
Tipe_Pembayaran      0
Customer_ID          0
Total_Penjualan      0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order_ID           5000 non-null   object
 1   Tanggal_Pemesanan  5000 non-null   datetime64[ns]
 2   Nama_Produk        5000 non-null   object
 3   Kategori           5000 non-null   object
 4   Jumlah             5000 non-null   int64
 5   Harga_Satuan       5000 non-null   int64
 6   Kota               5000 non-null   object
 7   Provinsi           5000 non-null   object
 8   Tipe_Pembayaran    5000 non-null   object
 9   Customer_ID        5000 non-null   object
 10  Total_Penjualan    5000 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 429.8+ KB

In [ ]:
df.duplicated().sum()
df= df.drop_duplicates()

In [ ]:
# ID → string
df['Order_ID'] = df['Order_ID'].astype(str)
df['Customer_ID'] = df['Customer_ID'].astype(str)

# Kategori → category
df['Kategori'] = df['Kategori'].astype('category')
df['Kota'] = df['Kota'].astype('category')
df['Provinsi'] = df['Provinsi'].astype('category')
df['Tipe_Pembayaran'] = df['Tipe_Pembayaran'].astype('category')

# (Optional) Nama Produk → category juga, kalau duplikat banyak
df['Nama_Produk'] = df['Nama_Produk'].astype('category')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order_ID           5000 non-null   object
 1   Tanggal_Pemesanan  5000 non-null   datetime64[ns]
 2   Nama_Produk        5000 non-null   category
 3   Kategori           5000 non-null   category
 4   Jumlah             5000 non-null   int64
 5   Harga_Satuan       5000 non-null   int64
 6   Kota               5000 non-null   category
 7   Provinsi           5000 non-null   category
 8   Tipe_Pembayaran    5000 non-null   category
 9   Customer_ID        5000 non-null   object
 10  Total_Penjualan    5000 non-null   int64
dtypes: category(5), datetime64[ns](1), int64(3), object(2)
memory usage: 260.4+ KB

In [ ]:
df.info()  # Lihat tipe data dan non-null
df.describe(include='all')  # Statistik semua kolom (termasuk object dan kategori)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order_ID           5000 non-null   object
 1   Tanggal_Pemesanan  5000 non-null   datetime64[ns]
 2   Nama_Produk        5000 non-null   category
 3   Kategori           5000 non-null   category
 4   Jumlah             5000 non-null   int64
 5   Harga_Satuan       5000 non-null   int64
 6   Kota               5000 non-null   category
 7   Provinsi           5000 non-null   category
 8   Tipe_Pembayaran    5000 non-null   category
 9   Customer_ID        5000 non-null   object
 10  Total_Penjualan    5000 non-null   int64
dtypes: category(5), datetime64[ns](1), int64(3), object(2)
memory usage: 260.4+ KB

,Order_ID,Tanggal_Pemesanan,Nama_Produk,Kategori,Jumlah,Harga_Satuan,Kota,Provinsi,Tipe_Pembayaran,Customer_ID,Total_Penjualan
count,5000,5000,5000,5000,5000.000000,5000.000000,5000,5000,5000,5000,5.000000e+03
unique,5000,NaN,10,4,NaN,NaN,10,10,5,201,NaN
top,ORD05000,NaN,Mouse Wireless,Elektronik,NaN,NaN,Denpasar,Bali,COD,CUST1087,NaN
freq,1,NaN,535,1530,NaN,NaN,543,543,1033,40,NaN
mean,NaN,2024-03-31 21:48:40.320000,NaN,NaN,2.960200,93875.200000,NaN,NaN,NaN,NaN,2.773248e+05
min,NaN,2024-01-01 00:00:00,NaN,NaN,1.000000,5000.000000,NaN,NaN,NaN,NaN,5.000000e+03
25%,NaN,2024-02-15 00:00:00,NaN,NaN,2.000000,18000.000000,NaN,NaN,NaN,NaN,5.400000e+04
50%,NaN,2024-04-01 00:00:00,NaN,NaN,3.000000,75000.000000,NaN,NaN,NaN,NaN,1.500000e+05
75%,NaN,2024-05-18 00:00:00,NaN,NaN,4.000000,120000.000000,NaN,NaN,NaN,NaN,3.600000e+05
max,NaN,2024-06-29 00:00:00,NaN,NaN,5.000000,300000.000000,NaN,NaN,NaN,NaN,1.500000e+06
std,NaN,NaN,NaN,NaN,1.408621,95500.756562,NaN,NaN,NaN,NaN,3.392114e+05

In [ ]:
for col in ['Nama_Produk', 'Kategori', 'Kota', 'Provinsi', 'Tipe_Pembayaran']:
    print(f"{col}:")
    print(df[col].value_counts(dropna=False))
    print()

Nama_Produk:
Nama_Produk
Mouse Wireless       535
Kaos Polos           515
Power Bank           512
Sandal Jepit         502
Lipstik              500
Masker Wajah         499
Kopi Sachet          490
Headset Bluetooth    483
Minyak Goreng 1L     482
Sneakers             482
Name: count, dtype: int64

Kategori:
Kategori
Elektronik           1530
Fashion              1499
Kecantikan            999
Makanan & Minuman     972
Name: count, dtype: int64

Kota:
Kota
Denpasar      543
Palembang     535
Surabaya      531
Bandung       503
Jakarta       503
Yogyakarta    493
Medan         477
Semarang      476
Balikpapan    475
Makassar      464
Name: count, dtype: int64

Provinsi:
Provinsi
Bali                543
Sumatera Selatan    535
Jawa Timur          531
Jawa Barat          503
DKI Jakarta         503
DI Yogyakarta       493
Sumatera Utara      477
Jawa Tengah         476
Kalimantan Timur    475
Sulawesi Selatan    464
Name: count, dtype: int64

Tipe_Pembayaran:
Tipe_Pembayaran
COD              1033
ShopeePay        1021
OVO              1009
Transfer Bank     978
Gopay             959
Name: count, dtype: int64

##EDA

In [ ]:
# 1. Produk terlaris
print(df.groupby('Nama_Produk')['Jumlah'].sum().sort_values(ascending=False))

Nama_Produk
Kaos Polos           1555
Mouse Wireless       1541
Power Bank           1518
Lipstik              1501
Masker Wajah         1476
Sandal Jepit         1471
Minyak Goreng 1L     1458
Kopi Sachet          1438
Sneakers             1428
Headset Bluetooth    1415
Name: Jumlah, dtype: int64

/tmp/ipython-input-14-2437739879.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby('Nama_Produk')['Jumlah'].sum().sort_values(ascending=False))

In [ ]:
# 2. Kategori dengan penjualan tertinggi
print(df.groupby('Kategori')['Total_Penjualan'].sum().sort_values(ascending=False))

Kategori
Elektronik           659190000
Fashion              581800000
Kecantikan           112200000
Makanan & Minuman     33434000
Name: Total_Penjualan, dtype: int64

/tmp/ipython-input-15-2722460179.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby('Kategori')['Total_Penjualan'].sum().sort_values(ascending=False))

In [ ]:
# 3. Kota dengan pendapatan terbesar
print(df.groupby('Kota')['Total_Penjualan'].sum().sort_values(ascending=False))

Kota
Denpasar      165228000
Surabaya      144743000
Palembang     141135000
Jakarta       140015000
Semarang      139309000
Balikpapan    138687000
Bandung       135572000
Yogyakarta    134152000
Medan         125298000
Makassar      122485000
Name: Total_Penjualan, dtype: int64

/tmp/ipython-input-16-1212389841.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby('Kota')['Total_Penjualan'].sum().sort_values(ascending=False))

In [ ]:
# 4. Distribusi metode pembayaran
print(df['Tipe_Pembayaran'].value_counts())

Tipe_Pembayaran
COD              1033
ShopeePay        1021
OVO              1009
Transfer Bank     978
Gopay             959
Name: count, dtype: int64

In [ ]:
# 5. Tren penjualan per bulan
df['Bulan'] = df['Tanggal_Pemesanan'].dt.to_period('M')
print(df.groupby('Bulan')['Total_Penjualan'].sum())

Bulan
2024-01    232924000
2024-02    222557000
2024-03    246832000
2024-04    217086000
2024-05    249749000
2024-06    217476000
Freq: M, Name: Total_Penjualan, dtype: int64

In [ ]:
# 6. Harga rata-rata produk per kategori
print(df.groupby('Kategori')['Harga_Satuan'].mean())

Kategori
Elektronik           147052.287582
Fashion              130603.735824
Kecantikan            37522.522523
Makanan & Minuman     11446.502058
Name: Harga_Satuan, dtype: float64

/tmp/ipython-input-19-2121115848.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby('Kategori')['Harga_Satuan'].mean())

In [ ]:

df['Tanggal_Pemesanan'] = pd.to_datetime(df['Tanggal_Pemesanan'])
df['Bulan'] = df['Tanggal_Pemesanan'].dt.to_period('M').astype(str)

# Agregasi omzet per bulan
monthly_sales = df.groupby('Bulan')['Total_Penjualan'].sum().reset_index()
monthly_sales['Bulan'] = pd.to_datetime(monthly_sales['Bulan'])

# Model regresi
X = monthly_sales.index.values.reshape(-1, 1)
y = monthly_sales['Total_Penjualan']

model = LinearRegression()
model.fit(X, y)

# Prediksi bulan depan
next_month = [[len(monthly_sales)]]
predicted_sales = model.predict(next_month)
print(f"Prediksi penjualan bulan depan: Rp{predicted_sales[0]:,.0f}")

Prediksi penjualan bulan depan: Rp228,563,000

In [ ]:
# Hitung total belanja tiap customer
customer_df = df.groupby('Customer_ID',)['Total_Penjualan'].sum().reset_index()

# Clustering
kmeans = KMeans(n_clusters=3, random_state=42)
customer_df['Cluster'] = kmeans.fit_predict(customer_df[['Total_Penjualan']])

print(customer_df.head())

  Customer_ID  Total_Penjualan  Cluster
0    CUST1000          8652000        2
1    CUST1001         11135000        1
2    CUST1002          5835000        2
3    CUST1003         11329000        1
4    CUST1004          6200000        2

In [ ]:
# Buat matriks customer vs produk
pivot_df = df.pivot_table(index='Customer_ID', columns='Nama_Produk', values='Jumlah', fill_value=0)

from sklearn.metrics.pairwise import cosine_similarity

# Cari similarity antar user
similarity = cosine_similarity(pivot_df)
similarity_df = pd.DataFrame(similarity, index=pivot_df.index, columns=pivot_df.index)

# Contoh rekomendasi untuk CUST1096
similar_customers = similarity_df['CUST1096'].sort_values(ascending=False)[1:]
print("Customer mirip:", similar_customers.head())

# Produk dari customer mirip
target_user = 'CUST1096'
similar_user = similar_customers.index[0]
recommend_products = pivot_df.loc[similar_user][pivot_df.loc[target_user]==0]
recommend_products = recommend_products[recommend_products > 0]
print("Rekomendasi produk:", recommend_products.index.tolist())

Customer mirip: Customer_ID
CUST1185    0.977492
CUST1085    0.973391
CUST1168    0.967913
CUST1000    0.958931
CUST1160    0.957525
Name: CUST1096, dtype: float64
Rekomendasi produk: []

/tmp/ipython-input-23-2723034676.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_df = df.pivot_table(index='Customer_ID', columns='Nama_Produk', values='Jumlah', fill_value=0)